 <!DOCTYPE html>
 <html>
 	<head>
 		<meta charset="UTF-8">
 		<title>商品信息录入系统</title>
 	</head>
 	<body>
 		<form action="../controller/goodsManage.php" method="post">
 			<div>
 				请输入商品名称：<input type="text" name="goods_name" value="" />
 			</div>
 			<div>
 				请输入商品价格：<input type="text" name="goods_price" value="" />
 			</div>
			<div>
 				请输入商品数量：<input type="text" name="goods_stock" value="" />
 			</div>
 			<div>
 				请输入商品描述：<input type="text" name="goods_description" value="" />
 			</div>
 			<div>
 				请输入商品图片：<input type="text" name="goods_icon" value="" />
 			</div>			
			<div>
 				请输入类目编号：<input type="text" name="category_type" value="" />
 			</div>
 			<div>
 				<input type="submit" name="submit" value="录入商品信息"  class="submit"/>
 			</div>		
 		</form>
 	</body>
 </html>