<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="../public/signUp.css" />
</head>

<body>
    <form action="../controller/signUp.php" method="post">
        <div>
            电话：<input type="text" name="tel" value="" />
        </div>
        <div>
            姓名：<input type="text" name="name" value="" />
        </div>
        <div>
            密码：<input type="text" name="password" value="" />
        </div>
        <div>
            <input type="submit" name="submit" value="点击注册" class="submit" />
        </div>
        <div>
            <a href="signIn.html">登录</a>
        </div>
    </form>

</body>

</html>