<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录</title>
		<link rel="stylesheet" type="text/css" href="../public/signIn.css"/>
	</head>
	<body>
		<form action="../controller/signIn.php" method="post">
			<div>
				手机<input type="text" name="tel" id="" value="" />
			</div>
			<div>
				密码<input type="password" name="password" id="" value="" />
			</div>
			<div>
				<input type="submit" name="" id="" value="登录"  class="submit"/>
			</div>
			<div>
				<a href="../view/signUp.html" >注册</a>
			</div>
		</form>
	</body>
</html>